* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
}

:root {
    --blue: #273549;
    --green: #10B981;
    --light-blue: #2F3E53;
    --white: #ffffff;
    --gray: #D5D4D8;
}

.card {
    background-color: var(--blue);
    padding: 20px;
    margin: 20px;
    max-width: 500px;
    width: 100%;
    border-radius: 10px;

    & p, & div {
        margin-top: 10px;
    }
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

h1 {
    color: var(--white);
    max-width: 280px;
}

h1 span, .green-text {
    color: var(--green);
}

.note {
    color: var(--gray);
    margin: 10px 0;
}

button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--green);
    color: var(--white);
    cursor: pointer;
    user-select: none;
    font-size: inherit;
    margin-top: 20px;
    -moz-user-select: none;
    -webkit-user-select: none;
}

hr {
    border: none;
    height: 1px;
    width: 100%;
    background-color: var(--light-blue);
    margin: 20px auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.items-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

input[type="checkbox"] + label {
    margin-left: 6px;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: '';
    display: inline-block;
    left: 0;
    top: 0;
    background-color: var(--white);
    width: 15px;
    height: 15px;
    border: 1px solid var(--green);
    border-radius: 3px;
    cursor: pointer;
}

input[type="checkbox"]:checked::before {
    content: '✔';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--green);
}

input[type="range"]{
    accent-color: #10B981;
}

.pass-container {
    margin-top: 10px;
}

.pass {
    background-color: var(--light-blue);
    color: var(--green);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.note {
    text-align: center;
    font-size: 0.85rem;
}